[defaults]
inventory            = inventory/hosts.yml
host_key_checking    = False
stdout_callback      = yaml
display_skipped_hosts = False
retry_files_enabled  = False
interpreter_python   = auto_silent
vault_password_file  = .vault-pass          ; create locally; git-ignored

[inventory]
enable_plugins = yaml
